Name : Akshat Deshmukh

PRN : 25070123008

Batch : ENTC A1

In [1]:
# Study of Tuple

 #Create and access tuple items

 cities = ('pune', 'mumbai', 'delhi', 'kolkata')
 cities[2] = 'hyderabad'
 print(cities)     # Replacement gives error in tuple

IndentationError: unexpected indent (ipython-input-208836672.py, line 5)

In [3]:
# Append items
 cities.append('hyderabad')
 print(cities)
 #Modifications dont work in tuple

IndentationError: unexpected indent (ipython-input-3383299685.py, line 2)

In [4]:

t1 = (4, 5, 7)
t2 = (3, 8, 9)

t3 = t1 + t2

print("t1: ", t1)
print("t2: ", t2)
print("t3: ", t3)

t1:  (4, 5, 7)
t2:  (3, 8, 9)
t3:  (4, 5, 7, 3, 8, 9)

In [7]:
#1. 'A student’s exam result is stored in a tuple containing three fixed fields:
#Subject name, marks obtained, and grade.'

'''Write a Python program to:

•	Store the exam result using a tuple.
•	Unpack the tuple elements into separate variables.
•	Display the subject, marks, and grade.
•	Check whether the student has scored 75 or more marks and print “Distinction” if the condition is satisfied.'''

result = ('Physics', 87, 'A')

subject, marks, grade = result

print("Subject: ", subject)
print("Marks: ", marks)
print("Grade: ", grade)

# Check for distinction
if marks >= 75:
    print("distinction obtained")

Subject:  Physics
Marks:  87
Grade:  A
distinction obtained

In [8]:
'''2. An organization records an employee’s daily attendance for a week using a tuple, where:
"P" represents Present, "A" represents Absent
Write a Python program to:
•	Store the attendance record in a tuple.
•	Count and display the total number of present days.
•	Count and display the total number of absent days.
•	Check whether the employee was absent at least once
•	during the recorded period and display an appropriate message.'''

# Employee attendance
attendance = ('P', 'A', 'A', 'P', 'P')

print("Total present days :", attendance.count('P'))
print("Total absent days :", attendance.count('A'))

if 'A' in attendance:
    print("Employee was absent atleast once")

Total present days : 3
Total absent days : 2
Employee was absent atleast once